<!-- begin c-hero -->
<div class="hero">
    <div class="container">
      <div class="row">
        <div class="col col-6 col-t-12 last-item">
          <div class="hero__content">
            <h1 class="hero__title">Привет, меня зовут <strong>Константин Грудницкий</strong></h1>
            <p class="hero__subtitle">Designs, talks, and writes about <strong>web</strong>, <strong>ethics</strong>, <strong>privacy</strong>, and dev. I share design tutorials, free resources and inspiration. Loves <a href="#">music</a> & riding his bicycle.</p>
            <div class="hero__social">
              <span class="hero__social-title">Follow Me |</span>
              {% include contact-link.html %}
            </div>
          </div>
        </div>
        <div class="col col-6 col-t-12">
          <div class="hero__image">
            <img src="{{site.baseurl}}/images/author.jpg" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- end hero -->