---
layout: default
---
<div class="container">
	<div class="page-title-box">
		<div class="row">
			<div class="col col-12 col-m-12 push-m-0">
				<h1 class="page-title">{% if page.titles %}{{ page.titles[site.lang] }}{% else %}{{ page.title | escape }}{% endif %}</h1>
			</div>
		</div>
	</div>

	{% if page.image %}
	<div class="page__head">
		<div class="page-image" style="background-image: url({% if page.image contains "http" %}{{page.image}}{% else %}{{site.baseurl}}/images/{{page.image}}{% endif %})"></div>
	</div>
	{% endif %}
</div>


<div class="container">
	<div class="row">
		<!-- begin page -->
		<article class="page col col-8 col-t-10 col-m-12">
			<div class="page__content">
				{{ content }}
			</div>
		</article>
		<!-- end page -->
	</div>
</div>